<app-dashboard-link></app-dashboard-link>

<div class="statement-header">
  <h2>Financial Statement </h2>
  <p> Unified view of income, expenses and savings</p>
</div>

<ion-content class="ion-padding">
  <ion-card *ngFor="let item of statementList">
    <ion-card-content class="statement-row">
      <div class="left-section">
        <div class="type-badge" [ngClass]="{
            'income-badge': item.type === 'income',
            'expense-badge': item.type === 'expense',
            'saving-badge': item.type === 'saving'
          }">
          {{ item.type | uppercase }}
        </div>
        <div class="details">
          <p class="title">
            {{ item.title }}
          </p>
          <p class="date">
            {{ item.date | date:'mediumDate' }}
          </p>
        </div>
      </div>

      <div class="amount" [ngClass]="{
          'income-amount': item.type === 'income',
          'expense-amount': item.type === 'expense',
          'saving-amount': item.type === 'saving'
        }">
        ₹ {{ item.amount }}
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>