<ion-content class="ion-padding">

  <app-dashboard-link></app-dashboard-link>

  <ion-card>
    <ion-card-content class="ion-text-center">
      <p>Total Income</p>
      <h2 style="color: var(--ion-color-success)">
        ₹ {{ totalIncome }}
      </h2>
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-content>

      <ion-button expand="block" (click)="onAddIncomeClick()">
        + Add Income
      </ion-button>

      <form #incomeForm="ngForm" *ngIf="isIncomeClicked">

        <ion-item class="form-item">

          <ion-label position="stacked">Amount</ion-label>
          <ion-input required type="number" placeholder="Enter amount" [(ngModel)]="newlyAddedIncome.amount"
            #amtCtrl="ngModel" name="amount">
          </ion-input>
        </ion-item>
        <ion-text class="validation-text" *ngIf="amtCtrl.invalid && amtCtrl.touched">
          Amount is required
        </ion-text>

        <ion-item class=" form-item">
          <ion-label position="stacked">Source</ion-label>
          <ion-input required placeholder="Salary / Business" [(ngModel)]="newlyAddedIncome.source" #srcCtrl="ngModel"
            name="source">
          </ion-input>
        </ion-item>
        <ion-text class="validation-text" *ngIf="srcCtrl.invalid && srcCtrl.touched">
          Source is required
        </ion-text>

        <ion-item class="form-item">
          <ion-label position="stacked">Date</ion-label>
          <ion-input required type="date" [(ngModel)]="newlyAddedIncome.date" #dateCtrl="ngModel" name="date">
          </ion-input>
        </ion-item>
        <ion-text class="validation-text" *ngIf="dateCtrl.invalid && dateCtrl.touched">
          Date is required
        </ion-text>

        <ion-button expand="block" class="ion-margin-top" color="primary" [disabled]="incomeForm.invalid"
          (click)="onSaveClicked()">
          Save Income
        </ion-button>

      </form>

    </ion-card-content>
  </ion-card>

  <ion-card class="transaction-card" button="false" *ngFor="let income of localIncomeArray">

    <ion-card-content class="transaction-content">
      <div class="left">
        <p class="title">{{ income.source }}</p>
        <p class="date">{{ income.date }}</p>
      </div>

      <div class="right">
        <p class="amount">₹ {{ income.amount }}</p>
        <ion-button fill="clear" size="small" color="danger" class="delete-btn" (click)="onDeleteClick(income)"
          (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>

      </div>

    </ion-card-content>

  </ion-card>

  <p *ngIf="localIncomeArray.length === 0" class="ion-text-center">
    No income added yet
  </p>

</ion-content>