ion-toolbar {
    --background: #3880ff; /* Ionic blue */
    --color: white;
  }
  
  ion-title {
    padding-top: 30px;
    padding-bottom:10px;
    font-weight: 600;
    font-size: 24px;
  }

  
  .back-link {
    font-size: 14px;
    color: var(--ion-color-primary);
    margin: 10px;
    cursor: pointer;
  }
  
  