<ion-content class="ion-padding">

  <app-dashboard-link></app-dashboard-link>

  <ion-card>
    <ion-card-content class="ion-text-center">
      <p>Total Income</p>
      <h2 style="color: var(--ion-color-success)">
        ₹ {{ totalIncome }}
      </h2>
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-content>

      <ion-button expand="block" (click)="onAddIncomeClick()">
        + Add Income
      </ion-button>

      <form #incomeForm="ngForm" *ngIf="isIncomeClicked">

        <ion-item class="form-item">

          <ion-label position="stacked">Amount</ion-label>
          <ion-input required type="number" placeholder="Enter amount" (ionInput)="onAmountInput($event)" [(ngModel)]="newlyAddedIncome.amount"
            #amtCtrl="ngModel" name="amount">
          </ion-input>
          <ion-text color="danger" *ngIf="amountLimitExceeded">
            <small>Amount cannot exceed 10 digits</small>
          </ion-text>
        </ion-item>
        <ion-text class="validation-text" *ngIf="amtCtrl.invalid && amtCtrl.touched">
          Amount is required
        </ion-text>

        <ion-item class=" form-item">
          <ion-label position="stacked">Source</ion-label>
          <ion-input required placeholder="Salary / Business" [(ngModel)]="newlyAddedIncome.source" #srcCtrl="ngModel"
            name="source">
          </ion-input>
        </ion-item>
        <ion-text class="validation-text" *ngIf="srcCtrl.invalid && srcCtrl.touched">
          Source is required
        </ion-text>

        <ion-item class="form-item">
          <ion-label position="stacked">Date</ion-label>
          <ion-input required type="date" [(ngModel)]="newlyAddedIncome.date" #dateCtrl="ngModel" name="date">
          </ion-input>
        </ion-item>
        <ion-text class="validation-text" *ngIf="dateCtrl.invalid && dateCtrl.touched">
          Date is required
        </ion-text>

        <ion-button expand="block" class="ion-margin-top" color="primary" [disabled]="incomeForm.invalid"
          (click)="onSaveClicked()">
          Save Income
        </ion-button>

      </form>

    </ion-card-content>

  </ion-card>

  <div class="bulk-trigger">
    <ion-text class="action-link primary" *ngIf="!isBulkDeleteMode && localIncomeArray.length > 0"
      (click)="enableBulkDeleteMode()">
      Delete multiple
    </ion-text>
  </div>

  <!-- Bulk action bar (BULK MODE ONLY) -->
  <ion-card *ngIf="isBulkDeleteMode" class="bulk-action-card">

    <ion-card-content class="bulk-action-content">

      <div class="select-all-container">
      <ion-checkbox [checked]="isAllIncomeSelected" (ionChange)="onToggleSelectAllIncome($event)">
      </ion-checkbox>
      <span class="select-all-text">Select all</span>
    </div>

      <div class="bulk-actions">
        <ion-button fill="outline" color="primary" size="small" [disabled]="selectedIncomeIds.length === 0"
          (click)="confirmBulkDelete()">
          Delete
        </ion-button>
      </div>

      <ion-text class="action-link cancel" (click)="cancelBulkDeleteMode()">
        Cancel
      </ion-text>

    </ion-card-content>

  </ion-card>


  <ion-card class="transaction-card" button="false" *ngFor="let income of localIncomeArray">

    <ion-card-content class="transaction-row">
      <div class="left">
        <ion-checkbox *ngIf="isBulkDeleteMode" [checked]="selectedIncomeIds.includes(income.id!)" (ionChange)="income.id && onIncomeSelectionChange(income.id, $event)">
        </ion-checkbox>
        <div class="details">
          <p class="title">{{ income.source }}</p>
          <p class="date">{{ income.date }}</p>
        </div>
      </div>

      <div class="right">
        <p class="amount">₹ {{ income.amount }}</p>
        <ion-button *ngIf="!isBulkDeleteMode" fill="clear" size="small" color="danger" class="delete-btn"
          (click)="onDeleteClick(income)" (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>

      </div>

    </ion-card-content>

  </ion-card>

  <p *ngIf="localIncomeArray.length === 0" class="ion-text-center">
    No income added yet
  </p>

</ion-content>