<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="loginForm" (ngSubmit)="onLoginClick()">

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email"  formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">
      Login
    </ion-button>

  </form>
  <div class="auth-link">

    Don't have an account?
  
    <span routerLink="/register">
      Register
    </span>
  
  </div>

</ion-content>