:root {
    /* App background */
    --ion-background-color: #ACBDAA;
    --ion-text-color: #1f2937;
  
    /* Primary brand color */
    --ion-color-primary: #4f46e5;
    --ion-color-primary-contrast: #ffffff;
  
    /* Toolbar */
    --ion-toolbar-background: #1E2D4C;
    --ion-toolbar-color: #ffffff;
  
    /* Tabs */
    --ion-tab-bar-background: #858585;
    --ion-tab-bar-color: #1E2D4C;
    --ion-tab-bar-color-selected: #4f46e5;
  
    /* Cards / items */
    --ion-item-background: #858585;
  }
  