<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">

  <ion-item class="form-item">
    <ion-label position="stacked">Amount</ion-label>
    <ion-input type="number" placeholder="Enter amount" formControlName="amount" (ionInput)="onAmountInput($event)">
    </ion-input>
  </ion-item>
  <ion-text class="validation-text" *ngIf="fDetails['amount'].invalid && fDetails['amount'].touched">
    Amount is required
  </ion-text>
  <ion-text color="warning" *ngIf="largeTransaction">
    ⚠ Large transaction detected
  </ion-text>
  <ion-text color="danger" *ngIf="amountLimitExceeded">
    <small>Amount cannot exceed 10 digits</small>
  </ion-text>
  <ion-text color="danger" *ngIf="fDetails['amount'].errors?.['invalidAmount'] && fDetails['amount'].touched">
    Amount must be greater than 0
  </ion-text>

  <ion-item class="form-item">
    <ion-label position="stacked">Transaction title</ion-label>
    <ion-input placeholder="Salary / Business" type="text" formControlName="title">
    </ion-input>
  </ion-item>
  <ion-text class="validation-text" *ngIf="fDetails['title'].invalid && fDetails['title'].touched">
    Transaction title is required
  </ion-text>

  <ion-item class="form-item">
    <ion-label position="stacked">Date</ion-label>
    <ion-input type="date" formControlName="date">
    </ion-input>
  </ion-item>
  <ion-text class="validation-text" *ngIf="fDetails['date'].invalid && fDetails['date'].touched">
    Date is required
  </ion-text>
  <ion-text color="danger" *ngIf="fDetails['date'].errors?.['futureDate'] && fDetails['date'].touched">
    Date cannot be in the future
  </ion-text>

  <div class="form-actions">
    <ion-button expand="block" type="submit" color="primary" [disabled]="transactionForm.invalid">
      {{ submitLabel }}
    </ion-button>

    <ion-button *ngIf="showCancel" expand="block" fill="clear" color="medium" type="button" (click)="onCancel()">
      Cancel
    </ion-button>
  </div>

</form>