ion-toolbar {
    --background: #3880ff; /* Ionic blue */
    --color: white;
  }
  
  ion-title {
    padding-top: 30px;
    padding-bottom:10px;
    font-weight: 600;
    font-size: 24px;
  }

.summary-card .amount-text {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 4px;
  font-size: 22px;
  font-weight: 600;
  white-space: nowrap;
}

.summary-card .amount-text .currency {
  font-size: 16px;
  font-weight: 500;
}

.summary-card .amount-text .value {
  font-size: 22px;
  font-weight: 600;
}

.income-text {
  color: #16a34a;
}

.expense-text {
  color: #dc2626;
}

.savings-text {
  color:#2563eb;
}

.statement-link {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  opacity: 0.9;
}

.balance-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.balance-left {
  flex: 1;
  text-align: center;
}

.balance-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statement-link {
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 13px;
  color: white;
  opacity: 0.9;
}

.balance-amount {
  font-size: 28px;
  font-weight: 700;
  color: white;
  white-space: nowrap;
  padding-right: 10px;
}

.balance-label {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: white;
}


